@model List<City>

@{
    ViewData["Title"] = "Панель Администратора";
    var cities = ViewData["cities"];
}

<div class="container my-5">
    <h1 class="text-center display-4 mb-5">Панель администратора</h1>

    <div class="row justify-content-center mb-4">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center mb-3">Добавить город</h4>
                    <p><strong>Существующие города:</strong></p>
                    <ul class="list-group mb-3">
                        @foreach (City city in ViewBag.cities)
                        {
                            <li class="list-group-item">@city.Name</li>
                        }
                    </ul>
                    <form enctype="application/x-www-form-urlencoded" action="/Admin/AddCity" method="post">
                        <div class="mb-3">
                            <label class="form-label">Название города:</label>
                            <input name="Name" type="text" class="form-control" placeholder="Введите название города" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center mb-3">Добавить категорию</h4>
                    <p><strong>Существующие категории:</strong></p>
                    <ul class="list-group mb-3">
                        @foreach (RestaurantCategory cat in ViewBag.RestaurantCategories)
                        {
                            <li class="list-group-item">@cat.Name</li>
                        }
                    </ul>
                    <form enctype="application/x-www-form-urlencoded" action="/Admin/AddCategory" method="post">
                        <div class="mb-3">
                            <label class="form-label">Название категории:</label>
                            <input name="name" type="text" class="form-control" placeholder="Введите название категории" required>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-4">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center mb-3">Изменить статус у ресторанов</h4>
                    <ul class="list-group mb-3">
                        @foreach (Restaurant restaurant in ViewBag.restaurants)
                        {
                            <li class="list-group-item">@restaurant.Name | Опубликован: @restaurant.Activated |
                                <a href="/Admin/ChangeStatusRestaurant?restaurant_id=@restaurant.Id">Изменить статус</a>
                            </li>
                        }
                    </ul>
                    
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center mb-4">
        <div class="col-md-6 col-lg-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title text-center mb-3">Изменить статус у бизнес-аккаунтов</h4>
                    <ul class="list-group mb-3">
                        @foreach (User user in ViewBag.businessUsers)
                        {
                            <li class="list-group-item">
                                @user.Email | @user.Restaurant.Name | @user.Activated |
                                <a href="/Admin/ChangeStatusUser?user_id=@user.Id">Изменить статус</a>
                            </li>
                        }
                    </ul>


                </div>
            </div>
        </div>
    </div>

</div>
