@model List<City>
@{
    ViewData["Title"] = "Панель Администратора";
    var cities = ViewData["cities"];
}


<div class="text-center">
    <h1 class="display-4">Панель администратора</h1>
    <br>
    <form enctype="application/x-www-form-urlencoded" action="/Admin/AddCity" method="post">
        <div style="border: dashed; margin: auto; border-radius: 6px; padding-bottom: 6px; width: 350px;">
            <h3>Добавить город в ИС</h3>
            <!--
            <p>Существующие города</p>
            <ul>
            @foreach (City city in ViewBag.cities)
            {
                <li>@city.Name</li>
            }
            </ul>
            -->
            <label>Город: </label>
            <br>
            <input name="Name">
            <input type="submit" value="Добавить">
        </div>
    </form>
    <br>
    <form enctype="multipart/form-data" action="/Admin/AddRestaurant" method="post">
        <div style="border: dashed; margin: auto; border-radius: 6px; padding-bottom: 6px; width: 350px;">
            <h3>Добавить заведение в ИС</h3>
            <!--
            <p>Существующие заведения</p>
            <ul>
            @foreach (Restaurant restaurant in ViewBag.restaurants)
            {
                <li>@restaurant.Name</li>
            }
            </ul>
            -->
            <label><b>Название ресторана:</b></label>
            <br>
            <input name="Name">
            <br><br>
            <label><b>Город: </b></label>
            <select name="CityId">
                @foreach (City city in ViewBag.cities)
                {
                    <option value="@city.Id">@city.Name</option>
                }
            </select>
            <br><br>
            <label><b>Загрузите изображение ресторана</b></label>
            <br>
            <input type="file" name="RestaurantImage">
            <br><br>
            <label><b>Категория ресторана: </b></label>
            <select name="RestorantCategoryId">
                @foreach (RestaurantCategory rc in ViewBag.Categories)
                {
                    <option value="@rc.Id">@rc.Name</option>
                }
            </select>
            <br><br>
            <input type="submit" value="Добавить">
        </div>
        
    </form>

</div>
