@page
@using Feedbacks.Views.Authorized

<style>
    .tab > input[type="radio"] {
        display: none;
    }

    .tab-content {
        display: none;
    }

    #tab-btn-1:checked ~ #content-1,
    #tab-btn-2:checked ~ #content-2 {
        display: block;
    }
</style>

<div class="container mt-5 d-flex justify-content-center">
    <div class="w-100" style="max-width: 400px;">
        <h2 class="text-center mb-4">Регистрация</h2>
        
        <input checked id="tab-btn-1" name="tab-btn" type="radio" value="">
        <label for="tab-btn-1">Посетитель заведений</label>
        <input id="tab-btn-2" name="tab-btn" type="radio" value="">
        <label for="tab-btn-2">Бизнес-пользователь</label>
        
        <div class="tab-content" id="content-1">
            <form method="post" onSubmit="return checkPassword(this)" action="/Account/Register">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="Email" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Выберете свой город</label>
                    <select id="CityId" name="CityId" class="form-select">
                        @foreach (City city in ViewBag.Cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="Password" name="Password" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Повтор пароля</label>
                    <input type="password" class="form-control" id="Password2" name="Password2" required />
                </div>
                <button type="submit" class="btn btn-primary" style="max-width: 200px; display: block; margin: 0 auto;">Зарегистрироваться</button>
            </form>
        </div>
        
        <div class="tab-content" id="content-2">
            <form method="post" onSubmit="return checkPassword(this)" enctype="multipart/form-data" action="/Account/RegisterBusinessUserAndRestaurant">
                <h3>Регистрация бизнес-пользователя</h3>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="Email" required />
                </div>
                <div class="mb-3">
                    <label class="form-label">Выберете свой город</label>
                    <select id="CityId" name="CityId" class="form-select">
                        @foreach (City city in ViewBag.Cities)
                        {
                            <option value="@city.Id">@city.Name</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Пароль</label>
                    <input type="password" class="form-control" id="Password" name="Password" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Повтор пароля</label>
                    <input type="password" class="form-control" id="Password2" name="Password2" required />
                </div>
                <br>
                <div class="row justify-content-center">
                    <div style="width: 540px;" class="col-md-8 col-lg-6">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h4 class="card-title text-center mb-3">Укажите информацию о заведении</h4>
                                @* <p><strong>Существующие заведения:</strong></p>
                            <ul class="list-group mb-3">
                                @foreach (Restaurant restaurant in ViewBag.restaurants)
                                {
                                    <li class="list-group-item">
                                        @Html.ActionLink(@restaurant.Name, "RestaurantPage", "Restaurant", new { RestaurantId = @restaurant.Id }, null)
                                    </li>
                                }
                            </ul> *@
                                <div class="mb-3">
                                    <label class="form-label"><strong>Название ресторана:</strong></label>
                                    <input name="Name" type="text" class="form-control" placeholder="Введите название ресторана" required>
                                </div>

                                @* <div class="mb-3">
                                <label class="form-label"><strong>Город:</strong></label>
                                <select name="CityId" class="form-select" required>
                                    @foreach (City city in ViewBag.cities)
                                    {
                                        <option value="@city.Id">@city.Name</option>
                                    }
                                </select>
                            </div> *@

                                <div class="mb-3">
                                    <label class="form-label"><strong>Изображение ресторана:</strong></label>
                                    <input type="file" name="RestaurantImage" class="form-control" required>
                                </div>

                                <div class="mb-4">
                                    <label class="form-label"><strong>Категория:</strong></label>
                                    <select name="RestorantCategoryId" class="form-select" required>
                                        @foreach (RestaurantCategory rc in ViewBag.RestaurantCategories)
                                        {
                                            <option value="@rc.Id">@rc.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" style="max-width: 200px; display: block; margin: 0 auto;">Зарегистрироваться</button>
            </form>
        </div>
        
        <a href="/Login">Авторизоваться</a>
    </div>
</div>

<script>
    function checkPassword(form) {
        password1 = form.Password.value;
        password2 = form.Password2.value;

        if (password1 == '')
            alert("Please enter Password");

        else if (password2 == '')
            alert("Please enter confirm password");

        else if (password1 != password2) {
            alert("\nPassword did not match: Please try again...")
            return false;
        }

        else
            return true;
        
    }
</script>
