@using Feedbacks.Models
@model Restaurant
@{
    ViewData["Title"] = "Главная";

}

<div class="text-center">
    <p><b>@Model.Name</b></p>
    <p><i>@Model.Rating Баллов</i></p>
    <p><img width="300" height="300" src="@Url.Action("GetImage", "Home", new { restaurantId = Model.Id })"></p>
    @if (((List<Review>)ViewBag.reviews).Count == 0)
    {
        <p>О вашем ресторане пока что нет отзывов</p>
    }
    else
    {
        <p>Вот что пишут о вашем ресторане пользователи:</p>
    }
    @foreach (var review in ViewBag.reviews)
    {
        <div style="border: dashed; margin: auto; border-radius: 6px; padding-bottom: 6px; width: 350px;">
            <label><b>@review.User.Email</b> | <i>Рейтинг: @review.Rating</i></label>
            <br>
            <label>Название отзыва: @review.Title</label>
            <br>
            <p>@review.Text</p>
            <br>
            @if (@ViewData["Role"] != null && @ViewData["Role"].ToString().Equals("business") && review.Reply == null)
            {
                <a class="text-dark form-label" href="/Business/Reply?reviewId=@review.Id">Ответить</a>
            }
        </div>
        @if (review.Reply != null)
        {
            <div style="border: dashed; margin: 0 0 0 500px; border-radius: 6px; padding-bottom: 6px; width: 350px;">
                <label><b>@review.Reply.Author.Email</b> | Бизнес аккаунт</label>
                <br>
                <p>@review.Reply.Text</p>
            </div>
        }
        <br>
    }
</div>