@using Feedbacks.Models
@model Restaurant
@{
    ViewData["Title"] = "Главная";

}

<div class="text-center">
    <p><b>@Model.Name</b></p>
    <p><i>@Model.Rating Баллов</i></p>
    @for (int i = 0; i < ViewBag.count_photo; i++)
    {
        <p><img width="300" height="300" src="@Url.Action("GetImage", "Restaurant", new { restaurantId = Model.Id, imageId = @i })"></p>
    }
    @if (((List<Review>)ViewBag.reviews).Count == 0)
    {
        <p>Отзывов о ресторане пока что нет</p>
    }
    else
    {
        <p>Вот что пишут об этом ресторане пользователи:</p>
    }
    @foreach (var review in ViewBag.reviews)
    {
        <div style="border: dashed; margin: auto; border-radius: 6px; padding-bottom: 6px; width: 350px;">
            <label><b>@review.User.Email</b> | <i>Рейтинг: @review.Rating</i></label>
            <br>
            <label>Название отзыва: @review.Title</label>
            <br>
            <p>@review.Text</p>
            <br>
        </div>
        @if (review.Reply != null)
        {
            <div style="border: dashed; margin: 0 0 0 500px; border-radius: 6px; padding-bottom: 6px; width: 350px;">
                <label><b>@review.Reply.Author.Email</b> | Бизнес аккаунт</label>
                <br>
                <p>@review.Reply.Text</p>
            </div>
        }
        <br>
    }
</div>
