@using Feedbacks.Models
@model Restaurant
@{
    ViewData["Title"] = "Главная";

}

<div class="text-center">
    <p><b>@Model.Name</b></p>
    <p><i>@Model.Rating Баллов</i></p>
    <p><img width="300" height="300" src="@Url.Action("GetImage", "Home", new { restaurantId = Model.Id })"></p>
    @if (((List<Review>)ViewBag.reviews).Count == 0)
    {
        <p>Отзывов о ресторане пока что нет</p>
    }
    else
    {
        <p>Вот что пишут об этом ресторане пользователи:</p>
    }
    @foreach (var review in ViewBag.reviews)
    {
        <div style="border: dashed; margin: auto; border-radius: 6px; padding-bottom: 6px; width: 350px;">
            <label><b>@review.User.Email</b> | <i>Рейтинг: @review.Rating</i></label>
            <br>
            <label>Название отзыва: @review.Title</label>
            <br>
            <p>@review.Text</p>
            <br>
        </div>
    }
</div>
