@using Feedbacks.Models
@model IEnumerable<Review>
@{
    ViewData["Title"] = "Reviews";
}
<h1>@ViewData["Title"]</h1>

@foreach (var review in Model)
{
    <div style="border: dashed; width: 40%; border-radius: 6px; margin-bottom: 6px; padding: 6px;">
        <p><i>@review.User.Email</i> - @review.Restaurant.Name - <b>@review.Title</b> - <i>@review.Rating баллов</i> - @ViewBag.dct[review.Status.ToString()]</p>
        <p>@review.Text</p>
    </div>
}
<br>

<form method="post" action="/Home/AddReview" enctype="application/x-www-form-urlencoded">
    <label>Ресторан: </label>
    <br>
    <select name="RestaurantId">
        @foreach (Restaurant restaurant in ViewBag.restaurants)
        {
            <option value="@restaurant.Id">@restaurant.Name</option>
        }
    </select>
    <br>
    <label>Название для отзыва:</label>
    <br>
    <input name="Title" type="text" style="width: 55%;" >
    <br>
    <label>Текст</label>
    <br>
    <textarea name="Text" style="resize: both;"></textarea>
    <br>
    <input name="Rating" type="number" min="0" max="10">
    <input type="submit" value="Опубликовать отзыв">
</form>
